.cache
.cargo
.git-credentials
.config/btop
.config/google-chrome
.gnupg
.local/lib
.local/include
.local/share
.local/state
.mozilla/
.npm
.pki/
.rustup
.wakatime
Downloads
go/
.wakatime.log
.zsh_history
.config/bluetuith
.config/dconf
.config/spotify
.config/tlpui
.config/glade.conf
repos
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.cfg
